.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #28a189;
}

.categories-container {
  background-color: #282c34;
}

.category-card {
  padding: 20px;
  margin: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 2.2rem;
  text-align: center;
  box-shadow: 0 4px 8px #888888;
  border-radius: 10px;
}

/* On mouse-over, add a deeper shadow */
.category-card:hover {
  box-shadow: 0 8px 16px 0 #888888;
}
